{% extends 'base.html' %}
{% load static %}
{% block title %}
    list_tab
{% endblock %}

{% block main %}
    Listagem de tabelas <br>

{% for i in dados %}
    Descrição: {% if i.descricao %} {{ i.descricao }} {% endif %} <br>
    Valor: {% if i.valor %} {{ i.valor }} {% endif %} <br>

    <a href="{% url 'url_exclui_tabela' i.id %}">Excluir</a>
<br>
-----------------------------------------------------------------<br>
{% endfor %}

    <button onclick="window.location.href='/'">home</button>
{% endblock %}