{% extends 'base.html' %}
{% load static %}
{% block title %}
    list_mes
{% endblock %}

{% block main %}
    Listagem de mensalistas <br>

{% for i in dados %}
    Observações: {% if i.observacoes %} {{ i.observacoes }} {% endif %} <br>

    <a href="{% url 'url_atualiza_rotativo' i.id %}">Editar</a> &nbsp;
    <a href="{% url 'url_exclui_rotativo' i.id %}">Excluir</a>
<br>
-----------------------------------------------------------------<br>
{% endfor %}

    <button onclick="window.location.href='/'">home</button>
{% endblock %}